<a href="https://colab.research.google.com/github/andersonbraz/hands-on-python-jupyter/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

url ='https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Miami'
tables = pd.read_html(url)

print(f'Total tables: {len(tables)}')

Total tables: 3

In [2]:
df = tables[0]
df.head()

                    Neighborhood  ...    Coordinates
0                     Allapattah  ...  25.815-80.224
1  Arts & Entertainment District  ...  25.799-80.190
2                       Brickell  ...  25.758-80.193
3                    Buena Vista  ...  25.813-80.192
4                  Coconut Grove  ...  25.712-80.257

[5 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Neighborhood       26 non-null     object
 1   Demonym            8 non-null      object
 2   Population2010     25 non-null     object
 3   Population/Km²     25 non-null     object
 4   Sub-neighborhoods  13 non-null     object
 5   Coordinates        24 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB